.DS_Store
bldr.env
.vagrant
.secrets/**
.vscode/settings.json
!.secrets/.gitkeep
results/
.terraform/
*.tfstate*
*.tfvars
*.crt
*.key
minio-update-bldr-bucket-objects/
minio-update-bldr-bucket-objects.txt
pg_pass.toml
