#!/bin/bash

export APP_HOSTNAME=localhost
export OAUTH_PROVIDER=github
export OAUTH_TOKEN_BASE_URL=https://github.com
export OAUTH_API_URL=https://api.github.com
export OAUTH_AUTHORIZE_URL=https://github.com/login/oauth/authorize
export OAUTH_REDIRECT_URL=http://localhost/
export OAUTH_CLIENT_ID=<YOUR-CLIENT-ID>
export OAUTH_CLIENT_SECRET=<YOUR-CLIENT-SECRET>
export BLDR_CHANNEL=stable
