#!/bin/bash

# Modify these as needed for the on-premise OAuth2 provider
# The OAuth2 URLs below are configured as an example of using
# the GitHub cloud service as a provider.

# The URL for this instance of the on-prem depot
export APP_URL=http://localhost

# The OAUTH_PROVIDER value can be either "github" or "bitbucket"
export OAUTH_PROVIDER=github

# The OAUTH_API_URL is the API endpoint that will be used for user info
export OAUTH_API_URL=https://api.github.com

# The OAUTH_AUTHORIZE_URL is the *fully qualified* OAuth2 authorization endpoint
export OAUTH_AUTHORIZE_URL=https://github.com/login/oauth/authorize

# THe OAUTH_TOKEN_URL is the *fully qualified* OAuth2 token endpoint
export OAUTH_TOKEN_URL=https://github.com/login/oauth/access_token

# The OAUTH_REDIRECT_URL is the registered OAuth2 redirect
export OAUTH_REDIRECT_URL=http://localhost/

# The OAUTH_CLIENT_ID is the registered OAuth2 client id
export OAUTH_CLIENT_ID=<YOUR-CLIENT-ID>

# The OAUTH_CLIENT_SECRET is the registerd OAuth2 client secret
export OAUTH_CLIENT_SECRET=<YOUR-CLIENT-SECRET>

# Modify this only if there is a specific need, otherwise leave as is
export BLDR_CHANNEL=stable
