#!/bin/bash

export APP_HOSTNAME=localhost
export GITHUB_API_URL=https://api.github.com
export GITHUB_WEB_URL=https://github.com
export GITHUB_CLIENT_ID=Iv1.04b78696442708f6
export GITHUB_CLIENT_SECRET=b4acf029896e9c7fb6613390124e8ae3c35889aa
export GITHUB_APP_ID=8053
export BLDR_CHANNEL=stable